<!-- Buttons -->
<div class="button-group">
  <button class="manage-btn" (click)="showForm = !showForm; showBooksBrowse = false">
    📚 Manage Books
  </button>
  <button class="manage-btn" (click)="showBooksBrowse = !showBooksBrowse; showForm = false">
    📚 Browse Books
  </button>
</div>

<!-- Browse Books -->

  
<div *ngIf="showBooksBrowse && !showForm">
  <input type="text" (keydown.enter)="getBookByTitle($event)" placeholder="Search by title..." />
  <p></p>

  <table class="book-table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Category Id</th>
        <th>Publication Date</th>
        <th>Copies Owned</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bk of books">
        <td>{{ bk.title }}</td>
        <td>{{ bk.categoryId }}</td>
        <td>{{ bk.publicationDate }}</td>
        <td>{{ bk.copiesOwned }}</td>
      </tr>
    </tbody>
  </table>
</div>


<!-- Manage Book Form -->
<div *ngIf="showForm && !showBooksBrowse" class="book-page">
  <label>Title:</label>
  <input type="text" [(ngModel)]="book.title">

  <label>Category Id:</label>
  <input type="text" [(ngModel)]="book.categoryId">

  <label>Publication Date:</label>
  <input type="date" [(ngModel)]="book.publicationDate">

  <label>Copies Owned:</label>
  <input type="text" [(ngModel)]="book.copiesOwned">

  <div class="form-buttons">
    <button class="save-btn" (click)="saveBook()">Save</button>
    <button class="cancel-btn" (click)="cancel()">Cancel</button>
  </div>
</div>
